<div class="page-container">

  <div class="container favorites-container" data-controller="beer">
    <% @beers.each do |beer| %>
      <div class="my-2 beer-card beer-card-list-item beer-card-retracted w-100">
          <div class="d-flex justify-content-between align-items-center">
            <div class="row col-9 mb-1">
              <div class="beer-card-title align-self-center col-12 col-md-auto"><%= beer.name %></div>
              <div class="beer-card-subtitle align-self-center col-12 col-md-auto"><%= beer.brewery_name %></div>
            </div>
            <button class="fas-btn col-2 beer-card-rating-list" data-target="rating.five">
              <i class="fa fa-star"></i>
            </button>
            <button class="details-toggler col-1 fas-btn" data-action="click->beer#showDetails">
              <i class="fas fa-angle-down"></i>
            </button>
          </div>
          <div class="hidden-details">
            <div class="my-2 d-flex align-items-center">
              <img class="beer-card-img mr-3" src="<%= beer.logo_url %>" alt="beer-logo">
              <div class="row justify-content-start">
                <div class="my-1 d-flex col-auto">
                  <div class="beer-card-detail-bubble mr-3" data-target="beer.abv"><%= beer.abv %>%</div>
                  <div class="beer-card-detail-bubble" data-target="beer.ibu"><%= beer.ibu&.zero? ? 'No' : beer.ibu %> IBU</div>
                </div>
                <div class="my-1 beer-card-subtitle col-md-6 col-12 align-self-center" data-target="beer.kind"><%= beer.kind %></div>
                <div class="my-1 beer-card-text col-12"><%= beer.brewery_city + ", " + beer.brewery_country %></div>
              </div>
            </div>
          </div>
          <div class="hidden-details beer-card-text" data-target="beer.description"><%= beer.description %></div>
      </div>
    <% end %>
  </div>
</div>

