<br/>
<div class="container">
  <div class="search-input-container" data-controller="autocomplete" data-target="autocomplete.full">
    <div class="d-flex">
      <div class="search-icon"><i class="fas fa-search"></i></div>
      <input class="search-input" data-target="autocomplete.field" />
      <div class="search-cancel-btn-container">
        <button class="search-cancel-btn">Cancel</button>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container">
    <div class="" data-controller="beer" data-action="autocomplete:selected@window->beer#prepareBeerInformation">
      <div id="beer-information" class="hidden beer-card w-100" data-target="beer.information">
        <div class="row justify-content-start">
            <div class="beer-card-title align-self-center col-auto" data-target="beer.name"></div>
            <div class="beer-card-subtitle align-self-center col-auto" data-target="beer.brewery"></div>
        </div>
          <div class="mb-2 d-flex align-items-center">
            <img class="beer-card-img mr-3" src="" alt="beer-logo" data-target="beer.logoUrl">
              <div class="row justify-content-start">
                <div class="my-1 d-flex col-auto">
                  <div class="beer-card-detail-bubble mr-3" data-target="beer.abv"></div>
                  <div class="beer-card-detail-bubble" data-target="beer.ibu"></div>
                </div>
                <div class="my-1 beer-card-subtitle col-md-6 col-12 align-self-center" data-target="beer.kind"></div>
                <div class="my-1 beer-card-text col-12" data-target="beer.location"></div>
              </div>
          </div>

          <div class="beer-card-text" data-target="beer.description"></div>
        <div class="row justify-content-end align-items-center">
          <div class="my-3 beer-card-rating col-auto">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>

          <%= form_with(model: Beer.new, local: true) do |f| %>
            <%= f.hidden_field :rating, placeholder: 'Rating', data: {target: "beer.ratingForm"} %>
            <%= f.hidden_field :name, placeholder: 'Beer name', data: {target: "beer.nameForm"} %>
            <%= f.hidden_field :kind, placeholder: 'Beer type', data: {target: "beer.kindForm"} %>
            <%= f.hidden_field :beer_url, placeholder: 'Beer url', data: {target: "beer.beerUrlForm"} %>
            <%= f.hidden_field :logo_url, placeholder: 'Logo url', data: {target: "beer.logoUrlForm"} %>
            <%= f.hidden_field :brewery_name, placeholder: 'Brewery', data: {target: "beer.breweryForm"} %>
            <%= f.hidden_field :abv, placeholder: 'ABV', data: {target: "beer.abvForm"} %>
            <%= f.hidden_field :brewery_url, placeholder: 'Brewery url', data: {target: "beer.breweryUrlForm"} %>
            <%= f.hidden_field :brewery_country, placeholder: 'Country', data: {target: "beer.countryForm"} %>
            <%= f.hidden_field :brewery_city, placeholder: 'City', data: {target: "beer.cityForm"} %>
            <%= f.hidden_field :description, placeholder: 'Description', data: {target: "beer.descriptionForm"} %>
            <%= f.hidden_field :ibu, placeholder: 'IBU', data: {target: "beer.ibuForm"} %>

            <%= f.submit 'Add to favorites', class: "my-3 beer-card-button col-auto" %>
          <% end %>
        </div>
      </div>
    </div>
</div>








<!--<div data-controller="beer" data-action="autocomplete:selected@window->beer#prepareBeerInformation">-->
<!--  <div id="beer-information" class="hidden" data-target="beer.information">-->
<!--    <img src="" alt="" data-target="beer.logoUrl">-->
<!--    <div data-target="beer.name"></div>-->

    <%#= form_with(model: Beer.new, local: true) do |f| %>
      <%#= f.text_field :review, placeholder: 'Review', data: {target: "beer.reviewForm"} %>
      <%#= f.text_field :rating, placeholder: 'Rating', data: {target: "beer.ratingForm"} %>

      <%#= f.hidden_field :name, placeholder: 'Beer name', data: {target: "beer.nameForm"} %>
      <%#= f.hidden_field :kind, placeholder: 'Beer type', data: {target: "beer.kindForm"} %>
      <%#= f.hidden_field :beer_url, placeholder: 'Beer url', data: {target: "beer.beerUrlForm"} %>
      <%#= f.hidden_field :logo_url, placeholder: 'Logo url', data: {target: "beer.logoUrlForm"} %>
      <%#= f.hidden_field :brewery_name, placeholder: 'Brewery', data: {target: "beer.breweryForm"} %>
      <%#= f.hidden_field :abv, placeholder: 'ABV', data: {target: "beer.abvForm"} %>
      <%#= f.hidden_field :brewery_url, placeholder: 'Brewery url', data: {target: "beer.breweryUrlForm"} %>
      <%#= f.hidden_field :brewery_country, placeholder: 'Country', data: {target: "beer.countryForm"} %>
      <%#= f.hidden_field :brewery_city, placeholder: 'City', data: {target: "beer.cityForm"} %>
      <%#= f.hidden_field :description, placeholder: 'Description', data: {target: "beer.descriptionForm"} %>
      <%#= f.hidden_field :ibu, placeholder: 'IBU', data: {target: "beer.ibuForm"} %>

      <%#= f.submit class: "btn btn-primary" %>
    <%# end %>
<!--  </div>-->
<!--</div>-->




<ul>
  <% @beers.each do |beer| %>
    <li><%= beer.name %></li>
  <% end %>
</ul>
